[Unit]
Description=Unmanarc's Auditd Analyzer Framework - WebServer

[Service]
Type=simple
#Environment="LD_LIBRARY_PATH=/opt/analyzer/lib"
ExecStart=/sbin/uanlz_web
Restart=always

[Install]
WantedBy=multi-user.target
