[Unit]
Description=Unmanarc's Auditd Analyzer Framework - Alert

[Service]
Type=simple
WorkingDirectory=/etc/uauditanalyzer/uanlz_alert
ExecStart=/usr/sbin/uanlz_alert
Restart=always

[Install]
WantedBy=multi-user.target
